<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>Usuario</th>
        <th>Correo</th>
        <th>...</th>
        <th>...</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
       @for (user of users(); track user.id) {
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    [src]="user.email | termImage"
                    [alt]="user.email" />
                </div>
              </div>
              <div>
                <div 
                  [routerLink]="['/admin/user/id', user.id]"
                  class="font-bold">{{ user.email}}</div>
                <div class="text-sm opacity-50">{{ user. roles}}</div>
              </div>
            </div>
          </td>
          <td>
            {{ user.email }}
            <br />
            <span class="badge badge-ghost badge-sm">Desktop Support Technician</span>
          </td>
          <td>
            
          </td>
          <th>
            <button 
              [routerLink]="['/admin/user', user.id]",    
              class="btn btn-ghost btn-xs">Editar</button>
          </th>
        </tr>  
       }
      
  </table>
</div>
