
@if ( termResource.isLoading() ) {
    <div class="flex justify-center items-center h-screen">
        <span class="loading loading-spinner loading-lg"></span>

    </div>
}

@if ( termResource.hasValue() ) {
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
        
        <!-- <term-carousel [images]="termResource.value()?.imageUrl ?? '' "></term-carousel> comentar esta linea -->
        <term-carousel [images]="termResource.value().imageUrl"></term-carousel>

        <div class="card-body">

            <h2 class="card-title">{{ termResource.value().content }}</h2>
            <p>{{ termResource.value().example}}</p>
            <div class="card-actions justify-end">
            <button class="btn btn-accent">Escuchar</button>
            </div>
        </div>
    </div>
}