
@if ( termResource.isLoading() ) {
    <div class="flex justify-center items-center h-screen">
        <span class="loading loading-spinner loading-lg"></span>

    </div>
}

@if ( termResource.hasValue() ) {
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
        
        <figure>
            <img 
            [src]="termResource.value().imageUrl | termImage"
            alt="Term"
            class="object-cover animate-fadeIn"
            />
        </figure>

        <div class="card-body">

            <h2 class="card-title">{{ termResource.value().content }}</h2>
            <p>Traducción: {{ termResource.value().meaning}}</p>
            <p>Ejemplo: {{ termResource.value().example}}</p>
            <p>Ejemplo: {{ termResource.value().translationExample}}</p>
            <p>Variante: {{ termResource.value().variant.name}}</p>
            <p>Localidad: {{ termResource.value().variant.localityName}}</p>
            <p>Agregado por: 
                {{ termResource.value().user.username}} 
                {{ termResource.value().user.paternalName}}
                {{ termResource.value().user.maternalName}}
            </p>
            <div class="card-actions justify-end">
                <audio controls class="mb-2 w-full">
                    <source 
                    [src]="termResource.value().audioUrl | termAudio"
                    type="audio/mpeg">
                    Tu navegador no soporta el elemento de audio.
                </audio>
            </div>
        </div>
    </div>
}