<h1 class="text-2xl font-bold">{{ term().content }}</h1>
<div class="divider"></div>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-4" [formGroup]="termForm">
  <!-- Datos generales -->
  <div class="flex flex-col gap-2">
    <h2 class="text-2xl font-bold h-12">Datos generales</h2>
    
    <input
      type="text"
      placeholder="Término"
      formControlName="content"
      class="input input-bordered w-full"
    />

    <input
      type="text"
      placeholder="Ejemplo"
      formControlName="example"
      class="input input-bordered w-full"
    />

    <select class="select select-bordered w-full"
      formControlName="category">
        @for (item of categories | keyvalue; track item.key) {
          <option [value]="item.key">{{ item.value }}</option>
        }
    </select>

    <div class="divider">Audio</div>

    <!-- Aquí inicia la prueba de audio -->
    <!-- <div class="max-w-full my-5 mx-auto p-5 border border-[#ddd] rounded-lg"> -->
    <div class="w-full mx-auto p-5 border border-[#ddd] rounded-lg">
      <!-- <h3>Cambiar archivo de audio</h3> -->

      <audio controls class="mb-2 w-full">
        <source 
          [src]="term().audioUrl | termAudio"
          type="audio/mpeg">
        Tu navegador no soporta el elemento de audio.
      </audio>
    
      <!-- Input oculto para seleccionar archivo -->
      <input 
        type="file" 
        #fileInput
        accept="audio/*" 
        (change)="onFileSelected($event)"
        style="display: none"
        formControlName="audio"
      >
      
      <!-- Botón para abrir el selector de archivos -->
      <button class="btn btn-secondary"(click)="fileInput.click()" [disabled]="isUploading">
        {{ isUploading ? 'Subiendo...' : 'Cambiar audio' }}
      </button>

      <!-- Mostrar nombre del archivo seleccionado -->
      @if (selectedFile) {
        <div class="file-info">
          <span>{{ selectedFile.name }}</span>
          <span>{{ selectedFile.size | fileSize }}</span>
        </div>
      }

    </div>
  </div>

  <!-- Imágenes -->
  <div class="flex flex-col gap-2">
    <!-- <term-carousel [images]="term().imageUrl" /> -->
    
    <div class="card card-side bg-base-100 shadow-sm">
      <figure>
        <img 
          [src]="term().imageUrl | termImage"
          alt="Term"
          class="object-cover animate-fadeIn"
          />
      </figure>
    </div>

    <input 
      type="file" 
      accept="image/*"
      class="file-input file-input-bordered w-full mt-4"
      (change)="onFileChanged($event)"
      formControlName="image"
      />

      @if (tempImage()) {
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-2 ">
          <!-- @for(images of tempImages(); track image){ -->
            <img [src]="tempImage()" alt="Imagen temporal" class="w-full object-cover rounded-xl">
          <!-- } -->

        </div>
      }

      <div class="flex justify-end h-12">
        <button class="btn btn-secondary" type="submit" (click)="onSubmit()">

          @if(updateTerm.isPending()|| createTerm.isPending()){
            <span class="loading loading-spinner loading-sm"></span>
          }

          Guardar
        </button>
      </div>

  </div>
</div>

<alert/>