
<div class="card w-full min-w-[150px] max-w-sm md:min-w-[200px] max-h-[400px] md:max-w-xl bg-base-100 shadow-xl animate-fadeIn">
  <figure class="px-3 pt-3">
    <!--[src]= "imageUrl()" -->
    <img
      [src]="imageUrl() | termImage"
      [alt]="term().content" />
  </figure>
  <!-- <div class="card-body min-h-[140px] "> -->
  <div class="card-body ">
    <h2 
      class="card-title text-accent text-lg hover:underline cursor-pointer"
      [routerLink]="['/term', term().id]" >
        {{term().content}}
    </h2>
    <p> {{term().meaning}}  </p>
    <p> {{term().example | slice: 0:70 }}...</p>

    <audio #audioPlayer class="hidden">
      <source [src]="term().audioUrl | termAudio" type="audio/mpeg">
      Tu navegador no soporta el elemento de audio.
    </audio>
        
    <div class="card-actions justify-end">
      <!-- <a class="link link-accent" [routerLink]="['/term', term().imageUrl]">Ver termino</a> -->
      <button class="btn btn-sm btn-accent" (click)="playAudio()"
        >Escuchar</button>
        
      <button class="btn btn-sm btn-accent" [routerLink]="['/term', term().id]"
        >Detalles</button>
    </div>
  </div>
</div>
