<div class="card bg-base-100 shadow-sm animate-fadeIn">
  <figure>
    <!-- src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" -->
    <!--[src]= "imageUrl()" -->
    <img
      [src]="imageUrl() | termImage"
      [alt]="term().content" />
  </figure>
  <div class="card-body">
    <h2 
      class="card-title text-accent text-lg hover:underline cursor-pointer"
      [routerLink]="['/term', term().id]" >
        {{term().content}}
    </h2>
    <p> {{term().example | slice: 0:70 }}... </p>
    
    <div class="card-actions justify-end">
      <!-- <a class="link link-accent" [routerLink]="['/term', term().imageUrl]">Ver termino</a> -->
      <button class="btn btn-sm btn-accent"
        >Escuchar</button>
        
      <button class="btn btn-sm btn-accent" [routerLink]="['/term', term().id]"
        >Ver termino</button>
    </div>
  </div>
</div>
