

<h1 class="text-3xl font-bold">
  Todos los terminos
</h1>


<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">
  
  @for (term of termsQuery.data()?.terms; track $index) {
    <term-card [term]="term"></term-card>
  }

  @empty {
    @if (termsQuery.isLoading()) {

      <p>Cargando datos...</p>
    }@else if (termsQuery.isError()) {
      <p>Error: {{termsQuery.error()}}</p>
    }@else {
      <p>No hay datos</p>
    }

  }
  
</div>

<app-pagination 
  [pages]="termsQuery.data()?.pages ?? 0"
  [currentPage]="paginationService.currentPage()"
  [currentCategory]="paginationService.currentCategory()"
/>


