/* You can add global styles to this file, and also import other style files */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    background-color: gray;
  }
  
h1 {
  color: white;
  text-align: center;
}
  
p {
  font-family: verdana;
  font-size: 13px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
background-color: #111;
}

.form-register{
  width: 400px;
  background-color: rgb(60, 60, 60);
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: calibri;
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4{
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

.controls{
  width: 100%;
  background-color: rgb(60, 60, 60);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: calibri;
  font-size: 18px;
  color: white;
}

.form-register p{
  height: 40;
  text-align: center;
  font-size: 15px;
}

.form-register a{
  color: white;
  text-decoration: none;
}

.form-register a:hover{
  color: white;
  text-decoration: underline;
}

.form-register .botons{
  width: 100%;
  background: #1f53c5;
  border: royalblue;
  border-radius: 8px;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
