
<div class="drawer lg:drawer-open">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Navbar -->
    <nav class="navbar w-full bg-base-300">
      <label for="my-drawer-4" aria-label="open sidebar" class="btn btn-square btn-ghost">
        <!-- Sidebar toggle icon -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor" class="my-1.5 inline-block size-4"><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path><path d="M9 4v16"></path><path d="M14 10l2 2l-2 2"></path></svg>
      </label>
      
      <div class="dropdown">      

        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          
          <li>
            <a 
              routerLink="/admin/terms/new" 
              class="btn btn-ghost" 
              routerLinkActive="text-accent"
              (click)="isUser()"
              >Proponer termino</a>
          </li>
          
          @if (authService.data()?.user?.isAdmin) {
              <li>
                <a routerLink="/admin" 
                  class="btn btn-soft" 
                  routerLinkActive="text-accent"
                  (click)="isUser()">Panel Admin</a>
              </li>
            }
          
        </ul>
      </div>

      <label class="input ml-4">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <input 
          type="search" 
          required placeholder="Buscar" 
          #searchInput
          (keyup.enter)="onSearch(searchInput.value)"/>
      </label>
      
      <button class="btn btn-accent btn-sm mx-2 px-2 sm:px-4 hidden sm:inline-flex"
        aria-label="Buscar" 
        (click)="onSearch(searchInput.value)"
        >
        <span class="hidden sm:inline">Buscar</span>
        <svg class="block sm:hidden" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
          <path fill="#cccccc" d="M10.44 3a7.44 7.44 0 1 0 4.803 13.122c-.022.271.07.55.278.757l3.84 3.84a.96.96 0 1 0 1.358-1.358l-3.84-3.84a.96.96 0 0 0-.757-.278A7.44 7.44 0 0 0 10.44 3m-6 7.44a6 6 0 1 1 12 0a6 6 0 0 1-12 0"/>
        </svg>
      </button>

      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 gap-2">
            
            <li>
              <a routerLink="/admin/terms/new" 
                class="btn btn-soft btn-sm ml-4" 
                routerLinkActive="text-accent"
                (click)="isUser()">Proponer termino</a>
            </li>

            @if (authService.data()?.user?.isAdmin) {
              <li>
                <a routerLink="/admin" 
                  class="btn btn-soft btn-sm" 
                  routerLinkActive="text-accent"
                  (click)="isUser()">Panel Admin</a>
              </li>
            }
        </ul>
      </div>
      <div class="navbar-end gap-4">

        @if ( authService.data()) {
          <button class="btn btn-soft">
            <!-- En móvil: solo la inicial -->
            <span class="sm:hidden">{{ authService.data()?.user?.username?.charAt(0) || '?' }}</span>
            
            <!-- En pantallas grandes: nombre completo -->
            <span class="hidden sm:inline">{{ authService.data()?.user?.username }}</span>
          </button>
          
          <button class="btn btn-sm btn-accent px-2 sm:px-4"
            aria-label="Salir"
            (click)="authService.logout()">
            <span class="hidden sm:inline">Salir</span>
            <svg class="block sm:hidden" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
              <path fill="currentColor" fill-rule="evenodd" d="M3 5c0-1.1.9-2 2-2h8v2H5v14h8v2H5c-1.1 0-2-.9-2-2zm14.176 6L14.64 8.464l1.414-1.414l4.95 4.95l-4.95 4.95l-1.414-1.414L17.176 13H10.59v-2z"/>
            </svg>
          </button>
        }
        @else if ( !authService.data() ) {
          <a class="btn btn-soft btn-sm px-2 sm:px-4" routerLink="/auth/login" aria-label="Autenticación">
            <span class="hidden sm:inline">Autenticación</span>
            <svg class="block sm:hidden" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
              <path fill="currentColor" d="M13 21q-.425 0-.712-.288T12 20t.288-.712T13 19h6V5h-6q-.425 0-.712-.288T12 4t.288-.712T13 3h6q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm-1.825-8H4q-.425 0-.712-.288T3 12t.288-.712T4 11h7.175L9.3 9.125q-.275-.275-.275-.675t.275-.7t.7-.313t.725.288L14.3 11.3q.3.3.3.7t-.3.7l-3.575 3.575q-.3.3-.712.288T9.3 16.25q-.275-.3-.262-.712t.287-.688z"/>
            </svg>
          </a>
        }
      </div>
    </nav>

    <!-- Page content here -->
    <div class="p-4">
      @if(!searchQuery.data()){
        <router-outlet/>
      } @else if (searchQuery.data()) {
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">
          @for (term of searchQuery.data()?.terms; track $index) {
            <term-card [term]="term"></term-card>
          }
        </div>
      }
    </div>
  </div>

  <div class="drawer-side is-drawer-close:overflow-visible">
    <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="flex min-h-full flex-col items-start bg-base-200 is-drawer-close:w-14 is-drawer-open:w-64">
      <!-- Sidebar content here -->
      <ul class="menu w-full grow">
        <!-- List item -->
        <li>
          <button class="is-drawer-close:tooltip is-drawer-close:tooltip-right btn btn-soft text-xl mb-7" 
            data-tip="Homepage" 
            routerLink="/"
            (click)="resetCurrentTerm()"
            >
            <!-- Home icon -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor" class="w-6 h-6">
                <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path>
                <path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            </svg>Tu'u 
            <span class="is-drawer-close:hidden text-accent">
                <a routerLink="/">- Nda'vi</a>
            </span>
          </button>
        </li>
        
        <li>
          <button class="btn btn-outline mb-2" 
            routerLink="/"
            (click)="resetCurrentTerm()"
            >
            Categoría semántica
          </button>
        </li>

        <!-- List item -->
        @for (category of grammaticalCategory | keyvalue; track $index) {
          <li>
            <button class="is-drawer-close:tooltip is-drawer-close:tooltip-right  btn btn-soft mb-2 ml-3" 
              data-tip="Settings" 
              routerLinkActive="text-accent" 
              [routerLink]="['/']" [queryParams]="{category: category.key, letter: 'a', page: 1}"
              (click)="resetCurrentTerm()"
              >
              
              <span 
                class="is-drawer-close:hidden"
              >{{category.value}}</span>
            </button>
          </li>
        }

        <li>
          <button class="btn btn-outline mb-2 mt-2" 
            routerLink="/"
            (click)="resetCurrentTerm()"
            >
            Categoría gramtical
          </button>
        </li>
        <!-- List item -->
        @for (category of semanticCategory | keyvalue; track $index) {
          <li>
            <button class="is-drawer-close:tooltip is-drawer-close:tooltip-right  btn btn-soft mb-2 ml-3" 
              data-tip="Settings" 
              routerLinkActive="text-accent" 
              [routerLink]="['/']" [queryParams]="{category: category.key, letter: 'a', page: 1}"
              (click)="resetCurrentTerm()"
              >
              
              <span 
                class="is-drawer-close:hidden"
              >{{category.value}}</span>
            </button>
          </li>
        }

      </ul>
    </div>
  </div>
</div>

<alert/>