
<div class="drawer lg:drawer-open">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Navbar -->
    <nav class="navbar w-full bg-base-300">
      <label for="my-drawer-4" aria-label="open sidebar" class="btn btn-square btn-ghost">
        <!-- Sidebar toggle icon -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor" class="my-1.5 inline-block size-4"><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path><path d="M9 4v16"></path><path d="M14 10l2 2l-2 2"></path></svg>
      </label>
      
      <div class="dropdown">      

        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          
          <li>
            <a routerLink="/category/cocina" class="btn btn-ghost" routerLinkActive="text-accent">Proponer termino</a>
          </li>

          <li>
            <a routerLink="/admin" class="btn btn-ghost" routerLinkActive="text-accent">Panel Admin</a>
          </li>
          
        </ul>
      </div>

      <label class="input ml-4 hidden sm:flex">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <input type="search" required placeholder="Buscar" />
      </label>

      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 gap-2">
            
            <li>
              <a routerLink="/category/academico" class="btn btn-soft ml-4" routerLinkActive="text-accent">Proponer termino</a>
            </li>

            <li>
              <a routerLink="/admin" class="btn btn-soft" routerLinkActive="text-accent">Panel Admin</a>
            </li>
        </ul>
      </div>
      <div class="navbar-end gap-4">
        @if ( authService.authStatus() === 'authenticated') {
          <button class="btn btn-ghost">
            {{ authService.user()?.email }}
          </button>
          
          <button class="btn btn-sm btn-accent"
            (click)="authService.logout()">Salir</button>
        }
        @else if ( authService.authStatus() === 'not-authenticated') {
          <a class="btn btn-soft" routerLink="/auth/login">Autenticación</a>
        }
        @else {
          <a class="btn btn-ghost"></a>
        }
      </div>
    </nav>

    

    <!-- Page content here -->
    <div class="p-4">
        <router-outlet/>
    </div>
  </div>

  <div class="drawer-side is-drawer-close:overflow-visible">
    <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="flex min-h-full flex-col items-start bg-base-200 is-drawer-close:w-14 is-drawer-open:w-64">
      <!-- Sidebar content here -->
      <ul class="menu w-full grow">
        <!-- List item -->
        <li>
          <button class="is-drawer-close:tooltip is-drawer-close:tooltip-right btn btn-soft text-xl mb-7" data-tip="Homepage" routerLink="/">
            <!-- Home icon -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor" class="w-6 h-6">
                <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path>
                <path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            </svg>Tu'u 
            <span class="is-drawer-close:hidden text-accent">
                <a routerLink="/">- Nda'vi</a>
            </span>
          </button>
        </li>

        <!-- List item -->
        @for (semantic of semantics; track $index) {
          <li>
            <button class="is-drawer-close:tooltip is-drawer-close:tooltip-right  btn btn-soft mb-2" data-tip="Settings" routerLinkActive="text-accent" routerLink="/semantic/{{semantic}}">
              <span class="is-drawer-close:hidden">{{semantic}}</span>
            </button>
          </li>
        }

      </ul>
    </div>
  </div>
</div>